catkin_generated/*
CMakeFiles/*
cmake_install.cmake
CTestTestfile.cmake
Makefile
odoslam.cbp
CMakeLists.txt.user
Makefile
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/*
Thirdparty/g2o-20160424/build/
Thirdparty/g2o-20160424/install/
*.bag
**/*voc.bin
*.rviz

