catkin_generated/*
CMakeFiles/*
cmake_install.cmake
CTestTestfile.cmake
Makefile
odoslam.cbp
CMakeLists.txt.user
Makefile
*build/
*lib/
Thirdparty/
dependencies/
.vscode/
_clang-format
*.bag
*.rviz
*.bag
*.bin
*.so
*.a

